@import "./mixins.modules.scss";


.copyrightFooter {
    font-weight: 300;
    background-color: var(--gray3);
    color: var(--black2);
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;

}

.footerIcon {
    width: 12px;
}