@import "./mixins.modules.scss";

:root {
  --blue: #007ced;
  --white: #fff;
  --black: #222;
  --black2: #333;
  --black3: #d5d5d5;
  --gray: #aaa;
  --gray2: #666;
  --gray3: #f5f5f5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  @include mobile {
    font-size: 12px;
  }
  @include ipad-and-below { 
    font-size: 15px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
