@import "./mixins.modules.scss";


.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  min-height: 600px;
  @include mobile {
    height: auto;
  }
}


.introContainer {
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  @include mobile {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 28px;
  }
}


.profileImageWrapper {
  display: flex;
  flex-direction: column;
}
